# Ignorar carpetas generadas por compilación
cmake-build-debug/
build/
out/

# Ignorar CLion (JetBrains)
.idea/
*.iml

# Ignorar ejecutables
*.exe

# Ignorar pesos del modelo entrenado
weights.txt

# Ignorar logs temporales
*.log


